# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project Files
.metadata*
.cproject
.project
.wrmakefile
.wrproject
Plutonium2014/.gitignore
Debug/*
PPC603gnu